.slide {
    
    margin-top: 2vh;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 20px;
}

.slide1{

    background-image: url('../../assets/3.jpg');
    opacity: 0.9;
    
}

.slide2{

    background-image: url('../../assets/1.jpg');
    opacity: 0.9;
}

.slide3{
    background-image: url('../../assets/2.jpg');
    opacity: 0.9;
}

.slide4{

    background-image: url('../../assets/4.jpg');
}